@charset "utf-8";
#bloque4{
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: 'Designer', sans-serif;
	height: auto;
	padding-bottom: 6% !important;
}
#bloque4 a button{
	border: none;
    font-weight: 900;
	text-align: center;
	color: #A8AAB2;
	background: transparent;
    outline: none !important;
    border-radius: 37px;
}
#bloque4 a button#botoncomida{
	position: absolute;
	letter-spacing: 0.6px;
    width: 5.9% !important;
    margin-top: 10.5% !important;
    margin-left: 74.9% !important;
	margin-right: 19.2% !important;
}
#bloque4 a button#botonmedicamentos{
	position: absolute;
    width: 8.2% !important;
    margin-top: 10.5% !important;
    margin-left: 81.9% !important;
	margin-right: 9.9% !important;
}
#bloque4 a button#botonaccesorios{
	position: absolute;
	letter-spacing: 0.7px;
    width: 7.2% !important;
    margin-top: 10.5% !important;
    margin-left: 90.7% !important;
	margin-right: 2.1% !important;
}
#bloque4 a button.botonescarrusel:hover{
	color: #FFFEFE;
    background: #01AEE9;
    transition: .4s;
    cursor: hand;
}
#bloque4 .conocenos{
	position: absolute;
    font-weight: 400;
	line-height: 1.39 !important;
	color: #9FA3A7;
	width: 20%;
    margin-top: 20% !important;
    margin-left: 7% !important;
}
#bloque4 .conocenos span{
	vertical-align: middle;
	padding-left: 13%;
}
#bloque4 #flecha img{
	position: absolute;
    font-weight: 400;
	color: #9FA3A7;
    margin-top: 28% !important;
    margin-left: 33.6% !important;
}
#bloque4 .owl-carousel{
	padding-top: 10% !important;
    margin-left: 29% !important;
    width: 65%
}
#bloque4 .owl-carousel .item{
	margin: 0% 5% !important;
}
#bloque4 .owl-carousel .item .producto figcaption{
    font-weight: 400;
	margin-top: 14% !important;
	margin-left: 0% !important;
	color: #1b2d33;
}
#bloque4 .owl-carousel .item .producto h2 a{
	float:left;
	width: 93%;
    font-weight: 400;
	color: #7c7c7c !important;
	margin-top: 6.5% !important;
	margin-left: 2% !important;
	font-style: italic;
}
#bloque4 .owl-carousel .item .iconolike img{
	width: 4.5%;
	margin-left: 95% !important;
} 

@media only screen and (max-width:699px) {#bloque4 .owl-carousel{padding-top: 10% !important;margin-left: 31% !important;width: 62%;}#bloque4 .conocenos{width: 31% !important;}} 
@media only screen and (max-width:2600px) and (min-width:2500px){#bloque4 a button{font-size:20px;	height:44px;}#bloque4 #flecha img{height:34px;}#bloque4 .owl-carousel .item .iconolike img{height:26px;margin-top:5.3%!important;}}
@media only screen and (max-width:2499px) and (min-width:2400px){#bloque4 a button{font-size:20px;	height:43px;}#bloque4 #flecha img{height:33px;}#bloque4 .owl-carousel .item .iconolike img{height:24px;margin-top:6.1%!important;}}
@media only screen and (max-width:2399px) and (min-width:2300px){#bloque4 a button{font-size:19px;	height:42px;}#bloque4 #flecha img{height:31px;}#bloque4 .owl-carousel .item .iconolike img{height:21px;margin-top:6.1%!important;}}
@media only screen and (max-width:2299px) and (min-width:2200px){#bloque4 a button{font-size:18px;	height:41px;}#bloque4 #flecha img{height:30px;}#bloque4 .owl-carousel .item .iconolike img{height:19px;margin-top:5.9%!important;}}
@media only screen and (max-width:2199px) and (min-width:2100px){#bloque4 a button{font-size:18px;	height:38px;}#bloque4 #flecha img{height:27px;}#bloque4 .owl-carousel .item .iconolike img{height:18px;margin-top:6.3%!important;}}
@media only screen and (max-width:2099px) and (min-width:2000px){#bloque4 a button{font-size:17px;	height:36px;}#bloque4 #flecha img{height:26px;}#bloque4 .owl-carousel .item .iconolike img{height:17px;margin-top:6.3%!important;}}
@media only screen and (max-width:1999px) and (min-width:1900px){#bloque4 a button{font-size:16px;	height:34px;}#bloque4 #flecha img{height:25px;}#bloque4 .owl-carousel .item .iconolike img{height:17px;margin-top:5.8%!important;}}
@media only screen and (max-width:1899px) and (min-width:1800px){#bloque4 a button{font-size:16px;	height:33px;}#bloque4 #flecha img{height:24px;}#bloque4 .owl-carousel .item .iconolike img{height:18px;margin-top:5.8%!important;}}
@media only screen and (max-width:1799px) and (min-width:1700px){#bloque4 a button{font-size:15px;	height:30px;}#bloque4 #flecha img{height:23px;}#bloque4 .owl-carousel .item .iconolike img{height:18px;margin-top:5.1%!important;}}
@media only screen and (max-width:1699px) and (min-width:1600px){#bloque4 a button{font-size:14px;	height:29px;}#bloque4 #flecha img{height:21px;}#bloque4 .owl-carousel .item .iconolike img{height:16px;margin-top:5.4%!important;}}
@media only screen and (max-width:1599px) and (min-width:1500px){#bloque4 a button{font-size:14px;	height:28px;}#bloque4 #flecha img{height:20px;}#bloque4 .owl-carousel .item .iconolike img{height:16px;margin-top:5.2%!important;}}
@media only screen and (max-width:1499px) and (min-width:1400px){#bloque4 a button{font-size:12px;	height:26px;}#bloque4 #flecha img{height:20px;}#bloque4 .owl-carousel .item .iconolike img{height:14px;margin-top:5.4%!important;}}
@media only screen and (max-width:1399px) and (min-width:1300px){#bloque4 a button{font-size:12px;	height:24px;}#bloque4 #flecha img{height:19px;}#bloque4 .owl-carousel .item .iconolike img{height:13px;margin-top:5.5%!important;}}
@media only screen and (max-width:1299px) and (min-width:1200px){#bloque4 a button{font-size:11px;	height:22px;}#bloque4 #flecha img{height:17px;}#bloque4 .owl-carousel .item .iconolike img{height:12px;margin-top:5.3%!important;}}
@media only screen and (max-width:1199px) and (min-width:1100px){#bloque4 a button{font-size:10px;	height:20px;}#bloque4 #flecha img{height:15px;}#bloque4 .owl-carousel .item .iconolike img{height:10px;margin-top:5.5%!important;}}
@media only screen and (max-width:1099px) and (min-width:992px){#bloque4 a button{font-size:9px;	height:19px;}#bloque4 #flecha img{height:13px;}#bloque4 .owl-carousel .item .iconolike img{height:8px;margin-top:6.1%!important;}}
.conocenos p{float: left !important;}

@media only screen and (max-width:991px) and (min-width:900px){#bloque4 a button{font-size:9px;	height:19px;}#bloque4 .conocenos{font-size:15px;margin-left: 2% !important;}#bloque4 #flecha img{height:13px;}#bloque4 .owl-carousel .item .producto figcaption{font-size:13px;}#bloque4 .owl-carousel .item .producto h2{font-size:9px;}#bloque4 .owl-carousel .item .iconolike img{height:11px;margin-top:5.7%!important;}}
@media only screen and (max-width:899px) and (min-width:800px){#bloque4 a button{font-size:9px;	height:19px;}#bloque4 .conocenos{font-size:14px;margin-left: 2% !important;}#bloque4 #flecha img{height:13px;}#bloque4 .owl-carousel .item .producto figcaption{font-size:13px;}#bloque4 .owl-carousel .item .producto h2{font-size:9px;}#bloque4 .owl-carousel .item .iconolike img{height:11px;margin-top:6.1%!important;}}
@media only screen and (max-width:799px) and (min-width:768px){#bloque4 a button{font-size:9px;	height:19px;}#bloque4 .conocenos{font-size:13px;margin-left: 2% !important;}#bloque4 #flecha img{height:13px;}#bloque4 .owl-carousel .item .producto figcaption{font-size:13px;}#bloque4 .owl-carousel .item .producto h2{font-size:8.5px;}#bloque4 .owl-carousel .item .iconolike img{height:11px;margin-top:5%!important;margin-left:90%!important}}

@media only screen and (max-width:767px) and (min-width:700px){#bloque4 a button{font-size:9px;	height:19px;}#bloque4 .conocenos{font-size:12px;margin-left: 2% !important;}#bloque4 #flecha img{height:13px;}#bloque4 .owl-carousel .item .producto figcaption{font-size:13px;}#bloque4 .owl-carousel .item .producto h2{font-size:10.8px;width:84%!important;}#bloque4 .owl-carousel .item .iconolike img{height:11px!important;width: 11px!important; margin-top:8.2%!important;}}

@media only screen and (max-width:699px) and (min-width:600px){#bloque4 a button{font-size:9px;	height:19px;}#bloque4 .conocenos{font-size:13px;margin-left: 2% !important;}#bloque4 #flecha img{height:13px;}#bloque4 .owl-carousel .item .producto figcaption{font-size:13px;}#bloque4 .owl-carousel .item .producto h2{font-size:11px;width: 84%!important}#bloque4 .owl-carousel .item .iconolike img{height:11px!important;width: 11px!important; margin-top:8.1%!important;}}
@media only screen and (max-width:599px) and (min-width:500px){#bloque4 a button{font-size:9px;	height:19px;}#bloque4 .conocenos{font-size:13px;margin-left: 2% !important;}#bloque4 #flecha img{height:13px;}#bloque4 .owl-carousel .item .producto figcaption{font-size:13px;}#bloque4 .owl-carousel .item .producto h2{font-size:10.2px;width:84%!important;}#bloque4 .owl-carousel .item .iconolike img{height:11px!important;width: 11px!important; margin-top:8.1%!important;}}
@media only screen and (max-width:499px) and (min-width:400px){#bloque4 a button{font-size:9px;	height:19px;}#bloque4 .conocenos{font-size:13.6px;margin-left: 2% !important;}#bloque4 #flecha img{height:13px;}#bloque4 .owl-carousel .item .producto figcaption{font-size:13px;}#bloque4 .owl-carousel .item .producto h2{font-size:10px;width:84%!important;}#bloque4 .owl-carousel .item .iconolike img{height:11px!important;width: 11px!important; margin-top:8.1%!important;}}
@media only screen and (max-width:399px) {#bloque4 a button{font-size:9px;	height:19px;}#bloque4 .conocenos{font-size:13px;margin-left: 2% !important;}#bloque4 #flecha img{height:13px;}#bloque4 .owl-carousel .item .producto figcaption{font-size:13px;}#bloque4 .owl-carousel .item .producto h2{font-size:10px;width:84%!important;}#bloque4 .owl-carousel .item .iconolike img{height:11px!important;width: 11px!important; margin-top:8.1%!important;}}
#estetoscopio{width: 20% !important;margin: -13% 0 0 0% !important;}